.about {

   display: flex;
   width: var(--width-desktop);
   height: auto;
   background-color: #fff;
}

.about__inner {

   display: flex;
   justify-content: stretch;
   gap: 25px;
   width: inherit;
   height: inherit;
   margin: auto;
   padding: 0 50px;
}

.about__column:nth-of-type(1) {

   min-width: 430px;
   max-width: 430px;
   min-height: 240px;
   max-height: 240px;
}

.about__column:nth-of-type(2) {
   margin-top: 100px;
}

.about__logo {

   display: flex;
   min-width: 240px;
   max-width: 240px;
   min-height: 240px;
   max-height: 240px;
   margin: 0 auto;
   border-radius: 50%;
   background-color: #000;
}

.about__logo-image {

   min-width: 148px;
   max-width: 148px;
   min-height: 114px;
   max-height: 114px;
   margin: auto;
}

.about__title {

   margin-bottom: 100px;
   color: #000;
   font-weight: 700;
   font-size: 2rem;
   line-height: normal;
   text-transform: uppercase;
}

.about__content {
   
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.about__text {
   
   color: #000;
   font-weight: 400;
   font-size: 1rem;
   line-height: normal;
}