.card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 50px 40px;
}

.card__title {
	position: relative;
	z-index: 2;
	color: #fff;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.2;
	text-decoration: underline solid;
	text-decoration-skip-ink: none;
	text-transform: uppercase;
}

.card__text {
	position: relative;
	z-index: 2;
	color: #fff;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.2;
}

.card_background-film {
	background: url(../images/card-lot-01.jpg) center / cover no-repeat;
}

.card_background-book {
	background: url(../images/card-lot-02.jpg) center / cover no-repeat;
}

.card_background-picture {
	background: url(../images/card-lot-03.jpg) center / cover no-repeat;
}
