.footer {
	width: 100%;
	background-color: #fff;
}

.footer__inner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: inherit;
	padding: 180px 50px 90px;
}

.footer__inner > address {
	width: 240px;
}

.footer__links-list {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.footer__links-list-item {
	height: 21px;
	list-style: none;
}

.footer__link {
	font-weight: 400;
	font-size: 18px;
}

.footer__links-list-item_active .footer__link {
	border-bottom: none;
	pointer-events: none;
}

.footer__links-list-item_active .footer__link:hover {
	opacity: 1;
}

.footer__links-list-item_active .footer__link:focus {
	opacity: 1;
}

.footer__social-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 240px;
}

.footer__social-list-item {
	list-style: none;
}

.footer__social-link {
	display: block;
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	border-bottom: none;
}

.footer__social-link:hover {
	border-bottom: none;
}

.footer__social-link:focus {
	border-bottom: none;
}

.footer__social-link:visited {
	border-bottom: none;
}
