/* TODO: 
Разобраться с кнопкой
*/

@import url(./common-classes.css);
@import url(./design-test.css);

:root {

  --font: Raleway;
  --width-desktop: 1440px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size: 20px;
}

body {
  min-width: var(--width-desktop);
  max-width: var(--width-desktop);
  margin: 0;
  font-family: var(--font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {

  margin: 0;
  padding: 0;
}

a {

  color: inherit;
  text-decoration: underline;
}

a:hover{
  opacity: .7;
  text-decoration: underline;
}

a:focus{
  opacity: .7;
  text-decoration: underline;
}

a:visited{
  text-decoration: none;
}

button {

  display: inline-block;
  border: none;
  padding: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address{
  font-style: normal;
}

img {
  width: 100%;
}
