.header {

   display: flex;
   width: var(--width-desktop);
   height: 293px;
   background-color: #fff;
}

.header__inner {

   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: inherit;
   height: inherit;
   margin: auto;
   padding: 92px 50px;
}

.header__logo {

   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 137px;
   max-width: 137px;
   min-height: 109px;
   max-height: 109px;
   border-bottom: none;
   transform: translate(-50%, -50%);
   transform-origin: center;
}

.header__logo:hover {

   border-bottom: none;
   opacity: 1;
}

.header__logo:focus {

   border-bottom: none;
   opacity: 1;
}

.header__menu {

   width: max-content;
   margin: auto 0;
}

.header__links-list {

   display: flex;
   flex-flow: row nowrap;
   gap: 32px;
}

.header__links-list-item {
   list-style: circle;
}

.header__links-list-item--active {
   list-style: none;
}

.header__link {

   font-size: 18px;
   line-height: normal;
}

.header__links-list-item--active .header__link {
   
   border-bottom: none;
   pointer-events: none;
}

.header__inner > address {
   padding-top: 5px;
}