.header {

   display: flex;
   min-width: var(--width-desktop);
   max-width: var(--width-desktop);
   height: 293px;
   background-color: #fff;
}

.header__inner {

   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   min-width: calc(var(--width-desktop) - 100px);
   max-width: calc(var(--width-desktop) - 100px);
   height: calc(293px - 92px - 92px);
   margin: auto;
}

.header__logo {

   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 137px;
   max-width: 137px;
   min-height: 109px;
   max-height: 109px;
   transform: translate(-50%, -50%);
   transform-origin: center;
}

.header__logo:hover {
   opacity: 1;
}

.header__logo:focus {
   opacity: 1;
}

.header__menu {

   width: max-content;
   margin: auto 0;
}

.header__links-list {

   display: flex;
   flex-flow: row nowrap;
   gap: 32px;
}

.header__links-list-item {
   list-style: circle;
}

.header__links-list-item a {
   font-size: 18px;
   line-height: normal;
}

.header__links-list-item--active {
   list-style: none;
}

.header__links-list-item--active a {
   
   text-decoration: none;
   pointer-events: none;
}

.header__address {

   padding-top: 5px;
   font-size: 18px; 
   line-height: 1.35;
}